<div class="container my-4" id="apropos">
  <h1 class="text-center mb-4">À propos de SUNU BIBLIOTHEQUE</h1>

  <div class="row">
    <div class="col-md-6">
      <figure>
        <img src="assets/images/sunubiblio.png" alt="Logo SUNU BIBLIOTHEQUE" class="img-fluid">
        <figcaption class="text-center">SUNU BIBLIOTHEQUE, une maison d'édition sénégalaise fondée en 2023.</figcaption>
      </figure>
    </div>
    <div class="col-md-6">
      <p>SUNU BIBLIOTHEQUE est une maison d'édition sénégalaise fondée en 2010 par Mamadou Saliou Diallo. Depuis sa création, la maison d'édition a publié plus de 50 titres dans différents genres littéraires tels que la poésie, le roman, la nouvelle, le théâtre et la littérature jeunesse.</p>

      <p>Nous sommes fiers de soutenir les écrivains sénégalais et africains en leur offrant une plate-forme pour partager leurs histoires et leur culture avec le monde entier. Notre mission est de promouvoir la lecture, l'éducation et la diversité culturelle à travers la publication de livres.</p>

      <p>Nous avons remporté de nombreux prix pour nos livres, y compris le prix littéraire du Sénégal en 2015 pour le roman "Le chant des sirènes" de Fatou Diome et le prix de la meilleure littérature jeunesse au Salon international du livre de Dakar en 2018 pour le livre "Les aventures de Aïda" de Pape Diouf.</p>
    </div>
  </div>

  <h2 class="text-center my-4">Notre équipe</h2>

  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4">
        <img src="assets/images/team1.jpg" class="card-img-top" alt="Photo de l'équipe SUNU BIBLIOTHEQUE">
        <div class="card-body">
          <h5 class="card-title">Mamadou Saliou Diallo</h5>
          <p class="card-text">Fondateur et directeur de SUNU BIBLIOTHEQUE</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4">
        <img src="assets/images/team2.jpg" class="card-img-top" alt="Photo de l'équipe SUNU BIBLIOTHEQUE">
        <div class="card-body">
          <h5 class="card-title">Fatou Diome</h5>
          <p class="card-text">Écrivaine et membre de l'équipe éditoriale</p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4">
        <img src="assets/images/team3.jpg" class="card-img-top" alt="Photo de l'équipe SUNU BIBLIOTHEQUE">
        <div class="card-body">
          <h5 class="card-title">Pape Diouf</h5>
          <p class="card-text">Auteur jeunesse et membre de l'équipe éditoriale
          </p>
        </div>
      </div>
    </div>
  </div>
</div><br><br><br><br>
