<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>SUNU BIBLIOTHEQUE</h3>
        <p>Rue 5x12 Medina</p>
        <p>Medina, Dakar, Senegal 7200</p>
        <p>Phone: (+221) 77 387 80 20</p>
        <p>Email: info@sububiblio.com</p>
      </div>
      <div class="col-md-4">
        <h3>Liens Utils</h3>
        <ul>
          <li><a href="#">Accueil</a></li>
          <li><a href="#">Apropos</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3>Nous suivres</h3>
        <ul>
          <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
          <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
