<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <div class="col-md-6">
        <figure>
          <img src="assets/images/sunubiblio.png" alt="Logo SUNU BIBLIOTHEQUE" class="img-fluid">
          <figcaption class="text-center">SUNU BIBLIOTHEQUE</figcaption>
        </figure>
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <button
            class="m-1 btn btn-light btn-outline-primary"
            Button
            routerLink="acceuil">Accueil </button>
        </li>

        <li class="nav-item">
          <button
            class="m-1 btn btn-light btn-outline-primary"
            Button
            routerLink="apropos">Apropos</button>
        </li>

        <li class="nav-item">
          <button
            class="m-1 btn btn-light btn-outline-primary"
            Button
            routerLink="contact">Contact</button>
        </li>
      </ul>
    </div>
  </div>
</nav><br><br><br><br><br><br>


<router-outlet></router-outlet>
<app-footer></app-footer>
